body
{
  background-color: #d8e4e5;
  padding: 92px 0 0 0;
}


body, input, button{
  font-family: 'Roboto', sans-serif;
}

header{
  width: 100%;
  height: 92px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  padding: 15px;
  background-color: #2c3e4f;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
  box-shadow: 0px 2px 4px rgba(27,9,46,0.25);

}



header input{
  width: 100%;
  height: 50px;
  background: rgba(255,255,255,0.2);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 0px;
  box-shadow: none;
  outline: none;

  color: #FFF;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;

  font-size: 15px;
  font-weight: 400;
  text-indent: 16px;
  padding: 0 60px 0 0;
  margin: 4px 0 0 0;

  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}


header input::-webkit-input-placeholder {
  color: rgba(255,255,255,0.75);
}
header input::-moz-input-placeholder {
  color: rgba(255,255,255,0.75);
}
header input:-moz-input-placeholder {
  color: rgba(255,255,255,0.75);
}
header input::-ms-input-placeholder {
  color: rgba(255,255,255,0.75);
}



header button {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 19px;
  right: 15px;
  z-index:2;
  border-radius: 25px;
  background: #FFF;
  border: 0px;
  box-shadow: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor:pointer;

  display: flex;
  justify-content: center;
}

header button svg{
  padding: 0px;
  width: 18px;
  height: 18px;
}

header button svg .fill {
  fill: #1c3e3f;
}

.container {
  width: 100%;
  padding: 15px;
}


ul.todo {
  width: 100%;
}
ul.todo li {
  width: 100%;
  min-height: 50px;
  font-size: 14px;
  z-index: 5;
  padding: 15px;
  position: relative;
  background-color: #efefef;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(27,9,46,0.25);
  margin-bottom: 10px;
  padding-right: 100px;
  float:left;
}
ul.todo li:last-child {
  margin: 0;
}
ul.todo li .buttons {
  width: 100px;
  height: 100px;
  position:absolute;
  top: 0;
  right: 0;
}
ul.todo li .buttons button {
  width: 50px;
  height: 50px;
  float:left;
  border: 0;
  box-shadow: none;
  background-color: #efefef;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

ul.todo li .buttons button.remove svg{
  fill: #efefef;
  stroke: #c0c0c0;
}
ul.todo li .buttons button.remove:hover svg{
  fill: #efefef;
  stroke: #682323;
}
ul.todo li .buttons button.complete svg{
  fill: #efefef;
  stroke: #c0c0c0;
}
ul.todo li .buttons button.complete:hover svg{
  fill: #efefef;
  stroke: #236823;
}

li.marked {
  text-decoration: line-through;
  color: rgba(0,100,100,0.5) !important;
}
